


/* ===========================
   プロフィール画面
=========================== */

.profile-container {
  min-height: 100vh;
  background: #f7fbef;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 60px 30px;
}

.profile-card {
  width: calc(100% - 32px);
  max-width: 380px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 24px;
}

/* ===========================
   タイトル
=========================== */

.profile-card h1 {
  text-align: center;
  color: #6aa84f;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 35px;
  line-height: 1.6;
}

.profile-card h3 {
  color: #6aa84f;
  margin-bottom: 20px;
}

/* ===========================
   キャラクター
=========================== */

.character-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;

  margin-bottom: 30px;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;

  background: #fffef5;
  border: 3px solid #e5e5e5;
  border-radius: 20px;

  cursor: pointer;
  transition: .2s;
}

.character-card input {
  display: none;
}

.character-image {
  font-size: 50px;
  margin-bottom: 10px;
}

.character-card p {
  margin: 0;
  font-weight: bold;
  color: #666;
}

/* 選択中 */

.character-card:has(input:checked) {
  background: #eaf7d8;
  border-color: #9bcf53;
  transform: scale(1.05);
}

/* ホバー */

.character-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0,0,0,.08);
}

/* ===========================
   ニックネーム
=========================== */

.nickname-box {
  margin-bottom: 30px;
}

.nickname-box label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.nickname-box input {
  width: 100%;
  padding: 14px;

  border: 1px solid #ddd;
  border-radius: 12px;

  box-sizing: border-box;
  font-size: 16px;
}

/* ===========================
   ボタン
=========================== */

.next-btn {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 999px;

  background: #9bcf53;
  color: white;

  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  transition: .2s;
}

.next-btn:hover {
  background: #84b948;
}

.field {
  margin-bottom: 40px;
}

.profile-card h1 {
  text-align: center;
  color: #6aa84f;
  margin-bottom: 20px;
  display: block;
}

.subtitle {
  text-align: center;
  color: #888;
  margin-bottom: 35px;
  line-height: 1.6;
}

.selected-character {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.profile-character {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.change-character-btn {
  display: inline-block;

  margin-bottom: 25px;
  padding: 10px 18px;

  background: white;
  color: #4f6b3c;

  text-decoration: none;
  border-radius: 999px;

  border: 2px solid #dfeccf;
}
